@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true; 
  prefersdark: false; 
  color-scheme: light; 
  --color-primary:#CAEB66;
  --color-secondary: #033073D9;
}



